<section class="areas" id="areas">

    <div class="areas__cards">

        <div class="areas__card">
            <img src="resources/img/industrial.jpg" alt="">
            <div class="areas__card-mask">
                INDUSTRIAL
            </div>
        </div>

        <div class="areas__card">
            <img src="resources/img/residencial.jpg" alt="">
            <div class="areas__card-mask">
                RESIDENCIAL
            </div>
        </div>

        <div class="areas__card">
            <img src="resources/img/comercial.jpg" alt="">
            <div class="areas__card-mask">
                COMERCIAL
            </div>
        </div>

        <div class="areas__card">
            <img src="resources/img/deportes.jpg" alt="">
            <div class="areas__card-mask">
                DEPORTES
            </div>
        </div>

    </div>

    <div class="areas__container">
        <p>Nuestro compromiso es ayudarte a producir</p>
        <h2 class="areas__title">CONTENIDO <span>ÚNICO</span></h2>
        <p>para tu marca o proyecto.</p>
    </div>

    <div class="areas__galeria">

        <div class="areas__galeria-column">

            <div class="areas__galeria-row">
                
                <div class="areas__galeria-img areas__galeria-img--lg">
                    <img src="resources/img/galeria1.jpg" alt="">
                </div>

            </div>
           

            <div class="areas__galeria-row">

                <div class="areas__galeria-img">
                    <img src="resources/img/galeria5.jpg" alt="">
                </div>
                <div class="areas__galeria-img">
                    <img src="resources/img/galeria6.jpg" alt="">
                </div>

            </div>

        </div>

        <div class="areas__galeria-column">

            <div class="areas__galeria-row">

                <div class="areas__galeria-img">
                    <img src="resources/img/galeria3.jpg" alt="">
                </div>
                <div class="areas__galeria-img">
                    <img src="resources/img/galeria4.jpg" alt="">
                </div>

            </div>

            <div class="areas__galeria-row areas__galeria-row--lg">

                <div class="areas__galeria-img areas__galeria-img--lg">
                    <img src="resources/img/galeria2.jpg" alt="">
                </div>

            </div>

        </div>
       
    </div>

</section>