<section class="areas" id="areas">

    <!-- <div class="areas__cards">

        <div class="areas__card" data-aos="fade-down" >
            <div class="areas__card-mask">
                INDUSTRIAL
            </div>
            <img src="resources/img/industrial.jpg" alt="Industrial" class="areas__card-img">
        </div>

        <div class="areas__card" data-aos="fade-down" data-aos-delay="500">
            <div class="areas__card-mask">
                RESIDENCIAL
            </div>
            <img src="resources/img/residencial.jpg" alt="Residencial" class="areas__card-img">
        </div>

        <div class="areas__card" data-aos="fade-down" data-aos-delay="1000">
            <div class="areas__card-mask">
                COMERCIAL
            </div>
            <img src="resources/img/comercial.jpg" alt="Comercial" class="areas__card-img">
        </div>

        <div class="areas__card" data-aos="fade-down" data-aos-delay="1500">
            <div class="areas__card-mask">
                DEPORTES
            </div>
            <img src="resources/img/deportes.jpg" alt="Deportes" class="areas__card-img">
        </div>

    </div> -->

   <!-- NUEVAS ARES industrial,
        mobilario, 
        educativo, empresaril y deportivo-->

    <div class="glide multi1">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">  
                <div class="glide__slide-mask">INDUSTRIAL</div> 
                <img src="resources/img/areas/industrial.jpg" alt="Industrial" class="areas__card-img"> 
            </li>
            <li class="glide__slide">  
                <div class="glide__slide-mask">INMOBILIARIO</div> 
                <img src="resources/img/areas/inmobiliario.jpg" alt="Inmobiliario" class="areas__card-img"> 
            </li>
            <li class="glide__slide">  
                <div class="glide__slide-mask">EDUCATIVO</div> 
                <img src="resources/img/areas/educativo.jpg" alt="Educativo" class="areas__card-img"> 
            </li>
            <li class="glide__slide">  
                <div class="glide__slide-mask">EMPRESARIAL</div> 
                <img src="resources/img/areas/empresarial.jpg" alt="Empresarial" class="areas__card-img"> 
            </li>
            <li class="glide__slide">  
                <div class="glide__slide-mask">DEPORTIVO</div> 
                <img src="resources/img/areas/deportivo.jpg" alt="Deportivo" class="areas__card-img"> 
            </li>
          </ul>
        </div>
      </div>

    <div class="areas__container">
        <p>Nuestro compromiso es ayudarte a producir</p>
        <h2 class="areas__title">CONTENIDO <span>ÚNICO</span></h2>
        <p>para tu marca o proyecto.</p>
    </div>

    <div class="areas__galeria">

        <div class="areas__galeria-column">

            <div class="areas__galeria-row">
                
                <div class="areas__galeria-img areas__galeria-img--lg">
                    <img src="resources/img/zip/2.png" alt="">
                </div>

            </div>
           

            <div class="areas__galeria-row">

                <div class="areas__galeria-img">
                    <img src="resources/img/zip/1.png" alt="">
                </div>
                <div class="areas__galeria-img">
                    <img src="resources/img/galeria6.jpg" alt="">
                </div>

            </div>

        </div>

        <div class="areas__galeria-column">

            <div class="areas__galeria-row">

                <div class="areas__galeria-img">
                    <img src="resources/img/galeria3.jpg" alt="">
                </div>
                <div class="areas__galeria-img">
                    <img src="resources/img/galeria4.jpg" alt="">
                </div>

            </div>

            <div class="areas__galeria-row areas__galeria-row--lg">

                <div class="areas__galeria-img areas__galeria-img--lg">
                    <img src="resources/img/galeria2.jpg" alt="">
                </div>

            </div>

        </div>
       
    </div>

</section>