<div class="contacto" id="contacto">

    <div class="contacto__dron-container">
        <img src="resources/img/icono.png" alt="Dron" class="contacto__dron">
    </div>

    <div class="contacto__container">

        <div class="contacto__header">
            <h2 class="contacto__title">PONTE EN <span>CONTACTO</span></h2>
        </div>

        <form class="contacto__form">

            <div class="contacto__form-row">

                <div class="contacto__input-group">
                    <label for="nombre">Nombre Completo</label>
                    <input type="text" id="nombre">
                </div>

                <div class="contacto__input-group">
                    <label for="telefono">Teléfono</label>
                    <input type="text" id="telefono">
                </div>

            </div>

            <div class="contacto__input-group">
                <label for="proyecto">Proyecto</label>
                <input type="text" id="proyecto">
            </div>

            <div class="contacto__input-group">
                <label for="mensaje">Mensaje</label>
                <textarea name="mensaje" id="mensaje" rows="5"></textarea>
            </div>

            <div class="g-recaptcha" data-sitekey="6Le6R20jAAAAAFZxXO999bnMKMXh8kEnXIu3pjI0" style="margin-top: 2%; margin:0 auto"></div>
            <p style="color: var(--blanco); text-align: center; font-weight: bold; " id="status"></p>

            <button type="button" onclick="enviar()" class="contacto__button">
                ENVIAR
            </button>

        </form>

        <div class="contacto__footer">

            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">Whatsapp</a>

            <a href="tel:8717134025">871 713 4025</a>
            
            <a href="#">Aviso de Privacidad</a>

        </div>

    </div>

    <div class="contacto__boton-flotante">
       <a href="#"><img src="resources/img/arriba.png" alt="Boton"></a> 
    </div>


</section>