<section class="nosotros" id="nosotros">

    <div class="nosotros__dron-container">
        <img src="resources/img/dron.png" alt="Dron" class="nosotros__dron">
    </div>

    <div class="nosotros__container">

        <div class="nosotros__header">
            <h2 class="nosotros__title">QUIÉNES <span>SOMOS</span></h2>
        </div>

        <div class="nosotros__body">
            <p>Ofrecemos servicios de fotografía y video con drones.</p> 
            <p>Adaptamos nuestros servicios a cualquier proyecto brindando una solución <br>
            sencilla para obtener resultados de calidad en tiempo y forma.</p> 
        </div>

    </div>

</section>