<section class="servicios" id="servicios">

    <div class="servicios__header">
        <h2 class="servicios__title">SERVICIOS</h2>
    </div>

    <div class="servicios__cards">

        <div class="servicios__card" data-aos="fade-up" data-aos-delay="1000">
            <div class="servicios__card-header">
                <div class="servicios__card-img">
                    <img src="resources/img/servicios/foto-aerea.svg" alt="Fotografía áerea">
                </div>
                <h3 class="servicios__card-title"> <span>FOTOGRAFÍA</span> ÁEREA</h3>
            </div>
            <div class="servicios__card-body">
                 <p> 
                    Obtén imágenes de tu ubicación y eventos especiales con una claridad impresionante, muestra a tus clientes
                    ángulos nunca antes vistos de tus propiedades, dales una razón para que te amen más.
                </p>
            </div>
        </div>

        <div class="servicios__card" data-aos="fade-up" data-aos-delay="500">
            <div class="servicios__card-header">
                <div class="servicios__card-img">
                    <img src="resources/img/servicios/4K.svg" alt="Videos 4K">
                </div>
                <h3 class="servicios__card-title"> <span>VIDEOS</span> 4K</h3>
            </div>
            <div class="servicios__card-body">
                 <p>
                    Imagenes y videos con la mayor resolución de pixeles para que obtengas la imagen más nitida en tu proyección de video o foto
                 </p>
            </div>
        </div>

        <div class="servicios__card" data-aos="fade-up" data-aos-delay="500">
            <div class="servicios__card-header">
                <div class="servicios__card-img">
                    <img src="resources/img/servicios/360.svg" alt="Tomas 360">
                </div>
                <h3 class="servicios__card-title"> <span>TOMAS</span> 360°</h3>
            </div>
            <div class="servicios__card-body">
                 <p>
                    Visualiza todos los rincones en un solo archivo y comparte una imagen única y de impacto para tu público.
                 </p>
            </div>
        </div>

        <div class="servicios__card" data-aos="fade-up" data-aos-delay="500">
            <div class="servicios__card-header">
                <div class="servicios__card-img">
                    <img src="resources/img/servicios/postproduccion.svg" alt="Post produccion">
                </div>
                <h3 class="servicios__card-title"> <span>POST</span> PRODUCCIÓN</h3>
            </div>
            <div class="servicios__card-body">
                 <p>
                    Manipulamos el material audiovisual, la imagen, el sonido, la músico, el color y la mezcla final de todos estos elementos para crear un video de aún más impacto.
                 </p>
            </div>
        </div>

        <div class="servicios__card" data-aos="fade-up">
            <div class="servicios__card-header">
                <div class="servicios__card-img">
                    <img src="resources/img/servicios/planeacion.svg" alt="Planeación de video">
                </div>
                <h3 class="servicios__card-title"> <span>PLANEACIÓN</span> DE VIDEO</h3>
            </div>
            <div class="servicios__card-body">
                 <p> Te ayudamos a desarrollar la historia para transimitir en video.</p>
            </div>
        </div>

        

        

    </div>

</section>