<section class="servicios" id="servicios">

    <div class="servicios__header">
        <h2 class="servicios__title">SERVICIOS</h2>
    </div>

    <div class="servicios__cards">

        <div class="servicios__card">
            <div class="servicios__card-header">
                <div class="servicios__card-img">
                    <img src="resources/img/planeacion-video.png" alt="Planeación de video">
                </div>
                <h3 class="servicios__card-title"> <span>PLANEACIÓN</span> DE VIDEO</h3>
            </div>
            <div class="servicios__card-body">
                 <p> Te ayudamos a desarrollar la historia para transimitir en video.</p>
            </div>
        </div>

        <div class="servicios__card">
            <div class="servicios__card-header">
                <div class="servicios__card-img">
                    <img src="resources/img/video-aereo.png" alt="Video áereo">
                </div>
                <h3 class="servicios__card-title"> <span>VIDEO</span> ÁEREO</h3>
            </div>
            <div class="servicios__card-body">
                 <p>
                    Las perspectivas aéreas elevan tu negocio o marca, obtén variedad de ángulos,
                    distancias y direcciones que necesitas y tus clientes desean.
                 </p>
            </div>
        </div>

        <div class="servicios__card">
            <div class="servicios__card-header">
                <div class="servicios__card-img">
                    <img src="resources/img/foto-aerea.png" alt="Planeación de video">
                </div>
                <h3 class="servicios__card-title"> <span>FOTOGRAFÍA</span> ÁEREA</h3>
            </div>
            <div class="servicios__card-body">
                 <p> 
                    Obtén imágenes de tu ubicación y eventos especiales con una claridad impresionante, muestra a tus clientes
                    ángulos nunca antes vistos de tus propiedades, dales una razón para que te amen más.
                </p>
            </div>
        </div>

    </div>

</section>