<section class="servicios" id="servicios">

    <div class="servicios__header">
        <h2 class="servicios__title">SERVICIOS</h2>
    </div>

    <div class="servicios__cards">


        <div class="servicios__card" data-aos="fade-up">
            <div class="servicios__card-header">
                <div class="servicios__card-img">
                    <img src="resources/img/servicios/planeacion.svg" alt="Planeación de video">
                </div>
                <h3 class="servicios__card-title"> <span>PLANEACIÓN</span> DE VIDEO</h3>
            </div>
            <div class="servicios__card-body">
                 <p> Te ayudamos a desarrollar la historia para transmitir en video.</p>
            </div>
        </div>

        <div class="servicios__card" data-aos="fade-up" >
            <div class="servicios__card-header">
                <div class="servicios__card-img">
                    <img src="resources/img/servicios/postproduccion.svg" alt="Post produccion">
                </div>
                <h3 class="servicios__card-title"> <span>POST</span> PRODUCCIÓN</h3>
            </div>
            <div class="servicios__card-body">
                 <p>
                    Manipulamos el material audiovisual como las imágenes, música y creamos un video de alto impacto.
                 </p>
            </div>
        </div>

        <div class="servicios__card" data-aos="fade-up" >
            <div class="servicios__card-header">
                <div class="servicios__card-img">
                    <img src="resources/img/servicios/4K.svg" alt="Videos 4K">
                </div>
                <h3 class="servicios__card-title"> <span>VIDEOS</span> 4K</h3>
            </div>
            <div class="servicios__card-body">
                 <p>
                    Perspectivas aéreas en alta resolución.
                 </p>
            </div>
        </div>

        <div class="servicios__card" data-aos="fade-up" >
            <div class="servicios__card-header">
                <div class="servicios__card-img">
                    <img src="resources/img/servicios/foto-aerea.svg" alt="Fotografía áerea">
                </div>
                <h3 class="servicios__card-title"> <span>FOTOGRAFÍA</span> ÁEREA</h3>
            </div>
            <div class="servicios__card-body">
                 <p> 
                    Obtén imágenes de tu ubicación y eventos especiales.
                </p>
            </div>
        </div>
       

        <div class="servicios__card" data-aos="fade-up" >
            <div class="servicios__card-header">
                <div class="servicios__card-img">
                    <img src="resources/img/servicios/360.svg" alt="Tomas 360">
                </div>
                <h3 class="servicios__card-title"> <span>TOMAS</span> 360°</h3>
            </div>
            <div class="servicios__card-body">
                 <p>
                    Muestra ángulos nunca antes vistos en una imagen única a tus clientes.
                 </p>
            </div>
        </div>

        
        

        

        

    </div>

</section>