/*
|   ---------------------------------------------------------------------------------
|   @Components (Component)
|   ---------------------------------------------------------------------------------
|
*/


.navbar{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
    height: 12rem;
    padding: 1rem 5rem;
    padding-top: 3rem;
    z-index: 9999;
    transition: 400ms;
}

.navbar__logo{
    display: flex;
    justify-content: center;
    width: max-content;
    align-items: center;
    height: 100%;
}

.navbar__logo img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.navbar__links{
    display: flex;
    width: max-content;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.navbar__link{
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar__phone{
    display: flex;
    width: max-content;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.navbar__icon{
    display: flex;
    width: max-content;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.navbar__icon img{
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}