<!--===== REQUIRED METATAGS =====-->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Planeación de vídeo, Video áereo, Fotografía Áerea" />
<meta property="og:title" content="Dron TRC" />
<meta property="og:description" content="B" />
<title>DronTRC | Planeación de vídeo, Video áereo, Fotografía Áerea</title>
<meta name="keywords" content="">
<!--===== FAVICON =====-->
<link rel="apple-touch-icon" sizes="180x180" href="resources/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="resources/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="resources/favicon/favicon-16x16.png">
<link rel="manifest" href="resources/favicon/site.webmanifest">
<link rel="mask-icon" href="resources/favicon/safari-pinned-tab.svg" color="#1e1e1e">
<meta name="msapplication-TileColor" content="#1e1e1e">
<meta name="theme-color" content="#ffffff">
<!--===== FONTAWESOME ICONS =====-->
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.0/css/all.css">
<!--====== AOS CSS ======-->
<link rel="stylesheet" href="libs/aos/dist/aos.css">
<!--====== MENU CSS ======-->
<link rel="stylesheet" href="libs/menu/css/menu.min.css">
<!--====== MAIN CSS ======-->
<link rel="stylesheet" href="css/index.css">
