<!--====== JQUERY ======-->
<script src="libs/jquery/jquery.min.js"></script>
<!--====== AOS JS ======-->
<script src="libs/aos/dist/aos.js"></script>
<!--====== MENU JS ======-->
<script src="libs/menu/js/menu.min.js"></script>
<!--====== MAIN JS ======-->
<script src="js/index.js"></script>


<script>

  AOS.init()

  menu = new Menu({options: {element: '.menu', openWith: '.navbar__button', closeWith: '.menu__close', size:'lg', from: 'right',
        callbackOnOpen: function(){
            if($(window).width() <= 1220)
            {
                $('body').css('overflow', 'hidden')
            }
        },
        callbackOnClose: function(){
            if($(window).width() <= 1220)
            {
                $('body').css('overflow', 'auto')
            }
        } 
    }})
    menu.init();
    menu.closeWith('.menu__link');


</script>