<main class="banner">

    <!-- <div class="banner__button" data-aos="fade-up" data-aos-delay="500">
        <div class="banner__play" id="btnPlay" >
            <img src="resources/img/play.png" alt="Play">
        </div>
        <div class="banner__texto" >
            Dále un vistazo a nuestro trabajo
        </div>
    </div> -->

    <div class="banner__carousel">

        <div class="glide glide__carousel"  id="banner__carousel" >
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides glide__slides-banner" >
                <li class="glide__slide-banner">  
                    <img src="resources/img/banner/tsm3.jpg" alt="Industrial" class="areas__card-img"> 
                </li>
                <li class="glide__slide-banner">  
                    <img src="resources/img/banner/edificio.jpg" alt="Inmobiliario" class="areas__card-img"> 
                </li>
                <li class="glide__slide-banner">  
                    <img src="resources/img/banner/cristo.jpg" alt="Educativo" class="areas__card-img"> 
                </li>
            
                <li class="glide__slide-banner">  
                    <img src="resources/img/banner/maquilas.jpg" alt="Deportivo" class="areas__card-img"> 
                </li>

                <li class="glide__slide-banner">  
                    <img src="resources/img/banner/casas.jpg" alt="Deportivo" class="areas__card-img"> 
                </li>
              </ul>
            </div>
        </div> 

    </div>

    <!-- <div class="glide banner__carousel" style="background-color: red;">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">  
                <div class="glide__slide-mask">INDUSTRIAL</div> 
                <img src="resources/img/areas/industrial.jpg" alt="Industrial" class="areas__card-img"> 
            </li>
            <li class="glide__slide">  
                <div class="glide__slide-mask">INMOBILIARIO</div> 
                <img src="resources/img/areas/inmobiliario.jpg" alt="Inmobiliario" class="areas__card-img"> 
            </li>
            <li class="glide__slide">  
                <div class="glide__slide-mask">EDUCATIVO</div> 
                <img src="resources/img/areas/educativo.jpg" alt="Educativo" class="areas__card-img"> 
            </li>
        
            <li class="glide__slide">  
                <div class="glide__slide-mask">DEPORTIVO</div> 
                <img src="resources/img/areas/deportivo.jpg" alt="Deportivo" class="areas__card-img"> 
            </li>
          </ul>
        </div>
      </div> -->

        
        
        <!-- <video autoplay muted loop>
            <source src="resources/img/MantodeLaVirgen4.mp4"
                type="video/mp4">
        </video> -->


        <!-- <iframe  frameborder="0" allow="autoplay" encrypted-media allowfullscreen controls="0"
        src="https://www.youtube.com/embed/-vKzyioJT_0?autoplay=1&mute=1&loop=1&playlist=-vKzyioJT_0"
        allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
        modestbranding
        >
        </iframe> -->

       <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/-vKzyioJT_0?autoplay=1&mute=1&loop=1&controls=0&playlist=-vKzyioJT_0"
         frameborder="0" allow="accelerometer; autoplay; modestbranding; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->


</main>