<main class="banner">

    <!-- <div class="banner__button" data-aos="fade-up" data-aos-delay="500">
        <div class="banner__play" id="btnPlay" >
            <img src="resources/img/play.png" alt="Play">
        </div>
        <div class="banner__texto" >
            Dále un vistazo a nuestro trabajo
        </div>
    </div> -->

    <div class="banner__video">
        
        
        <video autoplay muted loop>
            <source src="resources/img/MantodeLaVirgen4.mp4"
                type="video/mp4">
        </video>


        <!-- <iframe  frameborder="0" allow="autoplay" encrypted-media allowfullscreen controls="0"
        src="https://www.youtube.com/embed/-vKzyioJT_0?autoplay=1&mute=1&loop=1&playlist=-vKzyioJT_0"
        allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
        modestbranding
        >
        </iframe> -->

       <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/-vKzyioJT_0?autoplay=1&mute=1&loop=1&controls=0&playlist=-vKzyioJT_0"
         frameborder="0" allow="accelerometer; autoplay; modestbranding; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

    </div>

</main>