<div class="menu" id="menu">

    <div class="menu__header">
        <div class="menu__close">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>

    <div class="menu__links">

        <a href="#" class="menu__link">Inicio</a>
        <a href="#nosotros" class="menu__link">Nosotros</a>
        <a href="#servicios" class="menu__link">Servicios</a>
        <a href="#areas" class="menu__link">Áreas</a>
        <a href="#contacto" class="menu__link">Contáctanos</a>

    </div>


</div>