<nav class="navbar">

    <div class="navbar__logo">
        <img src="resources/img/logo-drontrc.png" alt="Dron TRC">
    </div>

    <div class="navbar__links">

        <a href="#" class="navbar__link">Inicio</a>
        <a href="#nosotros" class="navbar__link">Nosotros</a>
        <a href="#servicios" class="navbar__link">Servicios</a>
        <a href="#areas" class="navbar__link">Áreas</a>
        <a href="#contacto" class="navbar__link">Contactanos</a>


    </div>

    <div class="navbar__phone">
        <div class="navbar__icon">
            <img src="resources/img/telefono.svg" alt="Teléfono">
        </div>

        <a href="tel:8717134025" class="navbar__link">
            871 713 4025
        </a>
    </div>


</nav>